{
  "env": {
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        [
          "styled-components",
          {
            "pure": true,
            "ssr": true,
            "displayName": false,
            "fileName": false
          }
        ]
      ]
    },
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        [
          "styled-components",
          {
            "pure": true,
            "ssr": true,
          }
        ]
      ]
    }
  }
}
